{% extends 'base.html' %}
{% block content %}
<h1>Edit Post</h1>  <!-- change: from "Create New Post" to "Edit Post" -->
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
    <div class="mb-3">{{ form.body.label }} {{ form.body(class="form-control", rows=10) }}</div>
    <div class="mb-3">{{ form.category.label }} {{ form.category(class="form-select") }}</div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}